:root {
    --off-white: #EEECE1;
    --red: #FF0201;
    --cyan: #02FFFF;
}

h1, h4 {
    font-family: 'League Gothic';
}

h2, h3, h5, h6 {
    font-family: 'Antonio';
}

p {
    font-family: 'Montserrat';
}


@keyframes heroAnimation {
    0% {
        opacity: 1;
        height: 100vh;
        width: 100vw;
        overflow-x: hidden;

    }

    85% {
        opacity: 1;
        height: 100vh;
        width: 100vw;
        overflow-x: hidden;
    }

    100% {
        display: none;
        opacity: 0;
        height: 0;
    }
}

#herom {
    animation-name: heroAnimation;
    animation-duration: 8000ms;
    animation-fill-mode: forwards;
    max-width: 100%;
    height:auto;
    margin: auto;
}

#herow {
    animation-name: heroAnimation;
    animation-duration: 8000ms;
    animation-fill-mode: forwards;
    display: none;
    margin:auto;

}



@media (min-width: 768px) {
    #herom {
        display: none;
    }
    #herow {
        display:block;
        max-width: 100%;
        height: auto;
    }
}

body {
    background-color: black;
}


.stars {
    background-image: url('https://raw.githubusercontent.com/lauderdaleerin/FinalProject/main/images/stars-bg.svg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}



.element[data-emergence=hidden] {
    opacity: 0;
  }
  .element[data-emergence=visible] {
    opacity: 1;
  }




.offwhite {
    background-color: var(--off-white);
    background-image: url('https://raw.githubusercontent.com/lauderdaleerin/FinalProject/main/images/xl-eye-logo.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.herotxt {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 45vh;
    padding-bottom: 30vh;
}

.red {
    color: var(--red);
    z-index: -1;
    right: 10px;
}

.cyan {
    color: var(--cyan);
    z-index: -2;
    right:13px;
}

.logo {
    width: 80px;
    height: auto;
}

.btn {
    z-index: 1;
}


.grid-imagel, .grid-imager {
    grid-row: 1 / 2;
}

.grid-contentr, .grid-contentl {
    grid-row: 2 / 3;
}

@media (min-width: 768px) {
    .grid-imagel, .grid-contentr {
        grid-row: 1 / 2;
    }

    .grid-imagel {
        grid-column: -1 / 3;
        width: 75%;
    }

    .grid-contentr {
        grid-column: 2 / 5;
    }




    .grid-imager, .grid-contentl {
        grid-row: 1 / 2;
    }

    .grid-imager {
        grid-column: 2 / 5;
        width: 100%;
    }

    .grid-contentl {
        grid-column: -1 / 3;
    }

}

.safety {
    background-color: rgba(255, 2, 1, 0.3);;
    border-radius: 15px;
    padding: 30px;

}

.tip {
    background-color: white;
    border-radius: 15px;
    padding: 10px;
}


.mockup1, .mockup2 {
    grid-row: 1 / 2;
    max-width: 100%;
}

.mockup1 {
    grid-column: 1 / 2;
}

.mockup2 {
    grid-column: 2 / 3;
}

.grid-contentlast {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
}



@media (min-width: 768px) {
    .mockup1, .mockup2, .grid-contentlast {
        grid-row: 1 / 2;
    }

    .mockup1 {
        grid-column: 1 / 3;
        
    }

    .mockup2 {
        grid-column: 3 / 5;
    
    }

    .grid-contentlast {
        grid-column: 5 / 10;
    }
    }


@media (min-width: 768px) { 
    .appbtns {
        width: 50%;
    }
}

.text-red {
    color: var(--red);
    font-size: 30px;
}

