:root {
    --off-white: #EEECE1;
    --red: #FF0201;
    --cyan: #02FFFF;
}


/*having trouble setting bg image*/

body {
    background-color: black;
    background-image: url("images/stars-bg.svg");
    background-repeat: no-repeat;
}