:root {
    --off-white: #EEECE1;
    --red: #FF0201;
    --cyan: #02FFFF;
}

h1, h3, h4 {
    font-family: 'League Gothic';
}

h2, h5, h6 {
    font-family: 'Antonio';
}

p {
    font-family: 'Montserrat';
}


@keyframes heroAnimation {
    0% {
        opacity: 1;
        height: 100vh;
        width: 100vw;
        overflow-x: hidden;

    }

    85% {
        opacity: 1;
        height: 100vh;
        width: 100vw;
        overflow-x: hidden;
    }

    100% {
        display: none;
        opacity: 0;
        height: 0;
    }
}

#herom {
    animation-name: heroAnimation;
    animation-duration: 8000ms;
    animation-fill-mode: forwards;
}

#herow {
    animation-name: heroAnimation;
    animation-duration: 8000ms;
    animation-fill-mode: forwards;

}

.herom {
    max-width: 100%;
    height:auto;
}

.herow {
    display: none;
}

@media (min-width: 768px) {
    .herom {
        display: none;
    }
    .herow {
        max-width: 100%;
        height: auto;
    }
}

body {
    background-color: black;
}


.stars {
    background-image: url(/images/stars-bg.svg);
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}





.offwhite {
    background-color: var(--off-white);
    background-image: url("/images/xl-eye-logo.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 75%;
}

.herotxt {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20%;
    padding-bottom: 30%;
}

.red {
    color: var(--red);
    z-index: -1;
    right: 10px;
}

.cyan {
    color: var(--cyan);
    z-index: -2;
    right:13px;
}

.logo {
    width: 80px;
    height: auto;
}

.btn {
    z-index: 1;
}